<div class="row">
  <div [ngClass]="{'col-md-8': modeEdit, 'col-md-12': !modeEdit}" >
    <div class="card rounded shadow-sm">
      <form [formGroup]="form">
        <div class="p-3">
          <!--- <p>Form value: {{ form.value | json }}</p>
          <p>Form valid: {{ form.status | json }}</p> -->
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Theme</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="cssValidator(f.theme)"
                formControlName="theme"
                placeholder="Enter the Theme"
                [(ngModel)]="eventModel.theme"
              />
              <div *ngIf="f.theme.errors?.required" class="invalid-feedback">
                Theme is required !
              </div>
              <div *ngIf="f.theme.errors?.minlength" class="invalid-feedback">
                Theme must contain more than 4 characters !
              </div>
              <div *ngIf="f.theme.errors?.maxlength" class="invalid-feedback">
                Theme must contain less than 100 characters !
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Local</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="cssValidator(f.local)"
                formControlName="local"
                placeholder=""
                [(ngModel)]="eventModel.local"
              />
              <div *ngIf="f.local.errors?.required" class="invalid-feedback">
                Local is required !
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Date Time</label>
              <input
                type="datetime"
                class="form-control"
                [ngClass]="cssValidator(f.eventDate)"
                value="{{eventModel.eventDate | DateTimePipe}}"
                bsDatepicker
                [bsConfig]="bsConfig"
                formControlName="eventDate" placeholder=""
                [(ngModel)]="eventModel.eventDate"/>
              <div *ngIf="f.eventDate.errors?.required" class="invalid-feedback">
                Date is required !
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>Qtd Peoples</label>
              <input
                type="number"
                class="form-control"
                [ngClass]="cssValidator(f.quantityPeople)"
                formControlName="quantityPeople"
                placeholder="0"
                [(ngModel)]="eventModel.quantityPeople"/>
              <div *ngIf="f.quantityPeople.errors?.required" class="invalid-feedback">
                Quantity people is required !
              </div>
              <div *ngIf="f.quantityPeople.errors?.max" class="invalid-feedback">
                Theme must contain less than 120000 people !
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>Telephone</label>
              <input type="text" class="form-control"
              [ngClass]="cssValidator(f.telephone)"
              formControlName="telephone"
              placeholder="(000) 90000-0000"
              [(ngModel)]="eventModel.telephone">
              <div *ngIf="f.telephone.errors?.required && f.telephone.touched" class="invalid-feedback">
                telephone is required.
              </div>
            </div>
            <div class="form-group col-md-12">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="cssValidator(f.email)"
                formControlName="email"
                placeholder="e-mail"
                [(ngModel)]="eventModel.email"
              />
              <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                Email is required !
              </div>
              <div *ngIf="f.email.errors?.email" class="invalid-feedback">
                Email is not valid !
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <button
              class="btn btn-outline-secondary mr-auto border"
              (click)="resetForm()"
            >
              Cancel changes
            </button>
            <button class="btn btn-success" [disabled]="!form.valid" (click)="saveEvents()">
              <!-- <span class="spinner-border spinner-border-sm mr-1"></span> --->
              Save event
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="card rounded shadow-sm mt-3" *ngIf="modeEdit">
     <!-- <p>Form value: {{ form.controls['lots'].value | json }}</p>
      <p>Form valid: {{ form.controls['lots'].status| json }}</p> -->
      <div class="p-3">
        <div class="d-flex border-bottom">
          <h2 class="mr-auto">
            Lotes do Evento
          </h2>
          <h2>
            <i class="fas fa-money-bill-wave"></i>
          </h2>
        </div>
        <p>Clique em Lote para adicionar e preencher novos Lotes</p>
        <div class="form-row p-1">
          <div [formGroup]="form" class="col">
            <div formArrayName="lots" *ngFor="let lot of lots.controls; let i=index">
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">
                  {{ returnTitleLot(lots.get(i+'.name').value) }}
                  <button (click)="removeLot(template, i)"
                    class="p-2 btn btn-sm btn-outline-warning mb-1 d-flex"
                    tooltip="Excluir Lote"
                    [adaptivePosition]="false"
                    [delay]="500"
                    placement="left">
                  <i class="fa fa-window-close my-1"></i>
                  <b class="ml-1 d-none d-sm-block">Delete</b>
                </button>
              </legend>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Name</label>
                  <input
                  [ngClass]=" cssValidator(lots.get(i+'.name'))"
                  type="text" class="form-control"
                  formControlName="name"
                  placeholder="Lote">
                </div>
                <div class="form-group col-md-4">
                  <label>Quantity</label>
                  <input
                  [ngClass]=" cssValidator(lots.get(i+'.quantity'))"
                  type="text" class="form-control"
                  formControlName="quantity"
                  placeholder="000">
                </div>
                <div class="form-group col-md-4">
                  <label>Price</label>
                  <input
                  [ngClass]=" cssValidator(lots.get(i+'.price'))"
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
                  type="text" currencyMask class="form-control"
                  formControlName="price"
                  placeholder="R$ 0,00">
                </div>
                <div class="form-group col-md-4">
                  <label>Initial Date</label>
                  <input
                  type="text" class="form-control"
                  bsDatepicker
                  value="{{lots.get(i+'.initialDate').value | date:'dd/MM/yyyy'}}"
                  placeholder="01/01/2019"
                  (bsValueChange)="changeValueDate($event, i, 'initialDate')">
                </div>
                <div class="form-group col-md-4">
                  <label>Final Date</label>
                  <input
                  type="text" class="form-control"
                  bsDatepicker
                  value="{{lots.get(i+'.finalDate').value | date:'dd/MM/yyyy'}}"
                  placeholder="01/01/2019"
                  (bsValueChange)="changeValueDate($event, i, 'finalDate')">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <button (click)="addLot()" class="d-flex btn btn-outline-primary">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1">Lote</b>
      </button>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border">
          Cancelar Alteração
        </button>
        <button [disabled]="!form.controls['lots'].valid" (click)="saveLots()" class="btn btn-success">
          Save Lots
        </button>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="modeEdit">
    <div [formGroup]="form" class="card-evento-view shadow-sm">
      <div class="form-row">
        <div class="form-group m-0">
          <input  type="file" #file (change)="onFileChange($event)" class="form-control is-invalid" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img class="image" [src]="imageURL" class="img-fluid" (click)="file.click()" alt="Card image cap"
          tooltip="Uplaod de Nova Imagem" [adaptivePosition]="false" placement="bottom" />
        </div>
        <div class="card-body pt-3">
          <h4>{{eventModel.theme}}</h4>
          <p class="card-text">
            <b>Local:</b> {{eventModel.local}}
            <br>
            <b>Data:</b> {{eventModel.eventDate | DateTimePipe}}
          </p>
          <hr>
          <p class="card-text">
            <b>Contatos</b><br>
            <small class="text-muted">Telefone: {{eventModel.telephone}}</small>
            <br>
            <small class="text-muted">e-mail: {{eventModel.email}}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{eventModel.quantityPeople}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a href="">
                <i class=""></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<br>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to confirm the deletion of the lot?</p>
    <button type="button" class="btn btn-default" (click)="confirmDeleteLot()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteLot()">No</button>
  </div>
</ng-template>
