<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <!--- <p>Form value: {{ form.value | json }}</p>
      <p>Form valid: {{ form.status | json }}</p> -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Theme</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.theme)"
            formControlName="theme"
            placeholder="Enter the Theme"
          />
          <div *ngIf="f.theme.errors?.required" class="invalid-feedback">
            Theme is required !
          </div>
          <div *ngIf="f.theme.errors?.minlength" class="invalid-feedback">
            Theme must contain more than 4 characters !
          </div>
          <div *ngIf="f.theme.errors?.maxlength" class="invalid-feedback">
            Theme must contain less than 100 characters !
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Local</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.local)"
            formControlName="local"
            placeholder=""
          />
          <div *ngIf="f.local.errors?.required" class="invalid-feedback">
            Local is required !
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Date Time</label>
          <input
            type="datetime"
            class="form-control"
            [ngClass]="cssValidator(f.eventDate)"
            value="{{eventModel.eventDate | DateTimePipe}}"
            bsDatepicker
            [bsConfig]="bsConfig"
            formControlName="eventDate" placeholder=""/>
          <div *ngIf="f.eventDate.errors?.required" class="invalid-feedback">
            Date is required !
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>Qtd Peoples</label>
          <input
            type="number"
            class="form-control"
            [ngClass]="cssValidator(f.quantityPeople)"
            formControlName="quantityPeople"
            placeholder=""
          />
          <div
            *ngIf="f.quantityPeople.errors?.required"
            class="invalid-feedback"
          >
            Quantity people is required !
          </div>
          <div *ngIf="f.quantityPeople.errors?.max" class="invalid-feedback">
            Theme must contain less than 120000 people !
          </div>
        </div>
        <div class="form-group col-md-3">
          <label>Telephone</label>
          <input type="text" class="form-control" [ngClass]="cssValidator(f.telephone)"
          formControlName="telephone" placeholder="(000) 90000-0000" [(ngModel)]="eventModel.telephone">
          <div *ngIf="f.telephone.errors?.required && f.telephone.touched" class="invalid-feedback">
            telephone is required.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Image</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.imageUrl)"
            formControlName="imageUrl"
            placeholder="image"
          />
          <div *ngIf="f.imageUrl.errors?.required" class="invalid-feedback">
            Image is required !
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.email)"
            formControlName="email"
            placeholder="e-mail"
          />
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">
            Email is required !
          </div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback">
            Email is not valid !
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm()"
        >
          Cancel changes
        </button>
        <button class="btn btn-success" [disabled]="!form.valid" (click)="saveChanges()">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> --->
          Save event
        </button>
      </div>
    </div>
  </form>
</div>
