<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>User registration</h1>
      <img
        src="../../../../assets/img/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="form" class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">User registration</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>First Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="firstName"
            [ngClass]="cssValidator(f.firstName)"
            placeholder="Enter First Name"
          />
          <div *ngIf="f.firstName.errors?.required" class="invalid-feedback">
            First Name is required !
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Last Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="lastName"
            [ngClass]="cssValidator(f.lastName)"
            placeholder="Enter Last Name"
          />
          <div *ngIf="f.lastName.errors?.required" class="invalid-feedback">
            Last Name is required !
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input
          class="form-control"
          formControlName="email"
          [ngClass]="cssValidator(f.email)"
          type="text"
          placeholder="Insira o Nome Completo"
        />
        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
          Email is required !
        </div>
        <div *ngIf="f.email.errors?.email" class="invalid-feedback">
          Email is not valid !
        </div>
      </div>
      <div class="form-group">
        <label for=""> User name:</label>
        <input
          class="form-control"
          formControlName="userName"
          [ngClass]="cssValidator(f.userName)"
          type="text"
          placeholder="Insira o nome de Usuário"
        />
        <div *ngIf="f.userName.errors?.required" class="invalid-feedback">
          User name is required !
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Password:</label>
          <input
            class="form-control"
            formControlName="password"
            [ngClass]="cssValidator(f.password)"
            type="password"
            placeholder="Enter a Password"
          />
          <div
            *ngIf="f.password.errors?.required && f.password.touched"
            class="invalid-feedback"
          >
            Password is required !
          </div>
          <div *ngIf="f.password.errors?.minlength" class="invalid-feedback">
            Password must contain more than 6 characters !
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Password:</label>
          <input
            class="form-control"
            formControlName="passwordConfirmation"
            [ngClass]="cssValidator(f.passwordConfirmation)"
            type="password"
            placeholder="Confirm the Password"
          />
          <div
            *ngIf="
              f.passwordConfirmation.errors?.required &&
              f.passwordConfirmation.touched
            "
            class="invalid-feedback"
          >
            Password Confirmation is required !
          </div>
          <div
            *ngIf="
              f.passwordConfirmation.errors?.mustMatch &&
              f.passwordConfirmation.touched
            "
            class="invalid-feedback"
          >
            Repeat the password !
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label">
            I agree with the <a href="#"> Terms of use</a>.</label
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Register
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            I am already registered
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
