<app-shared-title [baseTitle]="'Profile'" [iconClass]="'fa fa-address-card'"></app-shared-title>
<div class="card rounded shadow-sm">

  <div class="row p-3">
    <div class="col-lg-3 pt-1">
      <div class="card mb-3">
        <div class="card-header">
          <input type="file" #file (change)="onFileChange($event)" style="display: none;">
        </div>
        <div class="d-flex align-self-center pt-3">
          <img name="aboutme" width="120" height="120" class="rounded-circle" style="cursor: pointer;"
          [src]="imageURL" (click)="file.click()"/>
        </div>
        <div class="card-body">
          <div class="h4 text-center mb-3">{{user.userName}}</div>
          <div class="h7 text-bold pb-1"><b>Name:</b> {{user.firstName +' '+ user.lastName}} </div>
          <div class="h7"> {{user.description}}</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-6 text-center border-right">
                <div class="h5">0</div>
                <div class="h6 text-muted">Events Taught</div>
              </div>
              <div class="col-6 text-center">
                <div class="h5">0</div>
                <div class="h6 text-muted">Participated Events</div>
              </div>
            </div>
          </li>
        </ul>
        <div class="card-footer"></div>
      </div>
    </div>
    <div class="col-lg-9">
      <tabset>

        <tab class="border border-top-0 p-3" >
          <ng-template tabHeading>
            <i class="fa fa-address-card mr-2"></i>
            <span>Profile</span>
          </ng-template>
          <app-profile-detail (changeFormValue)="setFormValue($event)" ></app-profile-detail>
        </tab>
        <tab class="border border-top-0 p-3">
          <ng-template tabHeading>
            <i class="fa fa-user mr-2"></i>
            <span>Speaker</span>
          </ng-template>
            <app-speaker-detail></app-speaker-detail>
        </tab>
        <tab class="border border-top-0 p-3">
          <ng-template tabHeading>
            <i class="fa fa-share-square mr-2"></i>
            <span>Social Newtwork</span>
          </ng-template>
          <app-socialNetwork></app-socialNetwork>
        </tab>
      </tabset>

    </div>
  </div>

</div>
